# Django
*.pyc
__pycache__/
*.log

# Environment
.env
*.env

# Media and static files
/media/
staticfiles/
static/

# IDEs
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Migrations 
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/__pycache__/
